<% provide(:title, "About") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for "Josh" %>
        <%= "Josh Mina" %>
      </h1>
      <p>Contact details mobile number email etc will be placed here</p>
    </section>
  </aside>
</div>