<% provide(:title, "Resume") %>
<h1>Resume</h1>
<p>Information to put my resume</p>
<%= link_to "Resume", download_pdf_path %>

<h1>Technologies: </h1>
<p>Programming Languages: </p>
<ul>
  <li>C#</li>
  <li>Java</li>
  <li>Javascript</li>
  <li>Ruby</li>
  <li>HTML</li>
  <li>Visual Basic</li>
  <li>Python</li>
  <li>Jquery/AJAX</li>
  <li>SQL/PostgreSQL</li>
  <li>Jade</li>
</ul>
<p>Framework: </p>
<ul>
  <li>Rails</li>
  <li>Bootstrap</li>
  <li>NodeJS</li>
</ul>
<p>Software: </p>
<ul>
  <li>pgAdmin</li>
  <li>Putty</li>
  <li>Eclipse</li>
  <li>Visual Studio</li>
  <li>Virtual Box</li>
  <li>Sublime Text</li>
  <li>Microsoft Office</li>
</ul>
<p>Tools: </p>
<ul>
  <li>Git (Put github link here)</li>
  <li>Heroku</li>
  <li>Slack</li>
  <li>Trello</li>
</ul>
<p>Operating Systems: </p>
<ul>
  <li>Ubuntu</li>
  <li>Linux</li>
  <li>Windows</li>
</ul>

<h1>Education: </h1>
<ul><p>Victoria University of Wellington </p>
    <p>Bachelor of Scient in Software Development, 2013 - 2017 </p>
</ul>
<ul><p>Saint Patrick's College </p>
    <p>Kilbirnie, Wellington, 2009 - 2013 </p>
    <ul>
      <li>Level 3 National Certificate of Education Achievement with Achievement</li>
      <li>Level 2 National Certificate of Education Achievement with Achievement</li>
      <li>Level 1 National Certificate of Education Achievement with Achievement</li>
    </ul>
</ul>