<footer class="footer">
  <small>
    The temporary footer of the profile page
  </small>

  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>    
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Resume", resume_path %></li>
    </ul>
  </nav>
</footer>